.product-card {
    background: linear-gradient(89.82deg, #C1DFC4 2.25%, #DEECDD 99.84%);
    border-radius: 20px;
    padding: 22px 20px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card__title{
    font-weight: 700px;
    font-size: 40px;
    line-height: 52px;
    color: #475009;
    margin: 0 0 35px;
    text-align: center;
}

.producr-card__heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 25px;
}

.product-card__img{
    width: 228px;
    height: 152px;
    border-radius: 0 130px 0 130px;
}

.product-card__name {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    color: #475009;
}

.producr-card__description {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 25px;
    color: #475009;
}

.product-card__info {
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: auto;
}

.product-card__care {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 20px;
}

.product-card__care-group--right {
    text-align: right;
}

.product-card__care-condition {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #475009;
    margin: 0 0 5px;
}

.producr-card__care-value {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #475009;
}

.product-card__links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* главная будет считаться ссылка, у которой есть фон. */
.product-card__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #502198;
    padding: 14px;
    text-align: center;
    border-radius: 30px;
    width: 50%;

}

.product-card__link--secondary {
    background-color: unset;
    border: 1px solid #475009;
    color: #475009;
}